.jumbotron
{
   background-image: url('../images/us3.jpg') ;
   color: #ffff80;
   height: 600px;
   background-attachment: fixed;
   margin-top: 100px;
}

.widget {
   margin-top: 7em;
}

#searchInput {
   width: 200px;
   
}

.search-query {
  width: 20em;
}

.item {
   background-size: 100%;
}
.preview {   
    text-align: justify;   
}

#custom-search-form {
        margin:0;

        margin-top: 5px;
        padding: 0;
    }
 
#custom-search-form .search-query {
        padding-right: 3px;
        
        padding-left: 3px;
         
        
       
        border-radius: 3px;
    }
 
 #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        
        border-radius: 3px;
    }
 

.w{
   margin-top: 4em;
}

#tab1 {
   padding-right: 5px;
}
.row {
   padding-top: 10px;
}

.tabbable {
   margin-top: 2em;
}

.col-sm-5 {
   margin-top: -6em;
}

.imagemain{
   margin-top:50px;
   width: 70%;
   margin-bottom: 10px;
}
.tab-content1{
   text-align: justify;
    text-justify: inter-word;
}

.tab-content2{
    padding-right: 10em;
    margin-top: 10em;
}

.col-sm-6 {
   margin-top: 3em;
}
hr {
    width: 100%;
    align-content: center;
}
.jumbotron .btn {
   display: inline-block;
   width: 200px;
   font-weight: bold;
   padding: 8px;
   margin-top: 20em;
   color: #fff;
   border: 4px solid #fff;
   border-radius: 4px;
   text-align: center;
   outline: none;
   text-decoration: none;
   transition: background-color 1.2s ease-out, color0.2s ease-out;
}

.jumbotron .btn:hover, .jumbotron .btn:active {
   background-color: #fff;
   color: #000;
   transition: backround-color 0.3s ease-in, color0.3s ease-in;
}



.col-md-8
{
   margin-top: 50px;
   font-size: 50px;
}
.col-md-4
{
   margin-top: 10px;
   padding-bottom: 10px;
}



footer {
   background: #333;
   color: #eee;
   font-size: 11px;
   padding: 20px;
}

/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}s